# Загальне
node_modules/
dist/
.env
.DS_Store

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.env

# Backend
/backend/node_modules/
/backend/dist/
/backend/.env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
